// out: ../css/jokenpo.css, compress: true, sourceMap: false
@import "variaveis.less";
body {
    font-family: arial;
    text-align: center;    
}
header {
    box-shadow: inset 0px -17px 10px @shinyred;
    background: url('../img/drogas.jpg');
    background-position: 0px -120px;        
    width: 100%;
    height: 180px;
    position: relative;
    top:-55px;
    padding: 50px 0;
    h5 {
        color: white;
        text-shadow: 1px 1px 3px @red;
        margin: -10px auto 30px;
        font-weight: 300;
        -webkit-text-stroke: .1px gray;
    }    
    h1 {
        color: @shinyred;
        text-shadow: 0px 0px 17px @red;
        -webkit-text-stroke: 1px @darkred;
        font-size:92px;
        margin: 25px 0 0;
        transform: skewY(-4deg);        
        font-family: 'Flavors', cursive;    
        text-transform: uppercase;
        font-weight: bolder;
    }
}
.vitoriaUsr {
    background: url('../img/overdose.jpg');
    background-position: -250px -400px;
}
.vitoriaPc {
    background: url('../img/capa.jpg');
    background-position: 290px -120px;
}
.jogo {
    background-color: @azulbebe;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/@azul+0,7db9e8+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/@azul+0,7db9e8+22,7db9e8+22,7db9e8+100 */
    background: @azulbebe; /* Old browsers */
    background: -moz-linear-gradient(top,  @azul 0%, @azulbebe 22%, @azulbebe 22%, @azulbebe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  @azul 0%,@azulbebe 22%,@azulbebe 22%,@azulbebe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  @azul 0%,@azulbebe 22%,@azulbebe 22%,@azulbebe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@azul', endColorstr='@azulbebe',GradientType=0 ); /* IE6-9 */
    position: relative;
    top:-52px;
    height: 80vh;
}
#placarEmpates {
    position: relative;
    top:-40px;
    h6 {
        margin-top: 20px;
        color:darkslategray;
        font-weight: 300;
    }
}

.placar {  
    position: relative;  
    .centraliza;
    position: relative;
    top: -10px;
    font-family: 'Bungee Inline', cursive;
    width: 100%;
    .pontos {
        width: 200px;
        position: absolute;
        top:-50px;
        background-color: #222;
        border-radius: 7px;
        border: 5px ridge black;
        /* X do placar */
        font-size:23px;
        color: yellow;
        font-weight: 300;
        #usr-pontos, #pc-pontos {
            font-weight: 100;
            font-size: 82px;
        }
    }
    .perfil {
        text-align: center;
        margin: -55px 140px 0;
        position: relative;
        .avatar {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            position: relative;
            margin: 0 auto;
            &#avatarUsr {
                // background: url('../img/avatar/ilha.jpg');
                // background-size: 100px 100px;
                background: darken(@azul, 15%);
                border: 3px solid black;
            }
            &#avatarPC {                
                background-size: 100px 100px;
                border: 3px solid white;
            }
        }
        #usuario, #pc {
            width: auto;
            padding: 2px 5px;
            margin-top:-15px;
            position: relative;
            &.badge {
                width: 114px;
            }
        }
        #usuario {
            background-color: black;
            color: white;       
        }
        #pc {        
            background-color: white;
            /* border: 1px solid green; */
            color: black;   
            
        }
    }
}
///////////
// players
///////////
.doherty {
    background: url('../img/avatar/doherty.jpg');    
}
.ilha {    
    background: url('../img/avatar/ilha.jpg');
}
.assuncao {    
    background: url('../img/avatar/assuncao.jpeg');
}
.casagrande {    
    background: url('../img/avatar/casagrande.jpg');
}
.lohan {    
    background: url('../img/avatar/lindsay.jpg');
}
.amy {    
    background: url('../img/avatar/amy.jpg');
}
.maradona {    
    background: url('../img/avatar/maradona.jpg');
}

.resultado {
    position: relative;
    font-size: 21px;
    height: 50px;
    width: 500px;
    padding: 10px 5px;
    margin: 0 auto;
    top:-35px;    
    .centraliza;
    z-index: 1;    
    font-family: 'Margarine', cursive;    
    letter-spacing:1px ;
    color: darkslategrey;
    font-weight: 300;
    background-color: rgba(224, 255, 255, .5);
    border-radius: 7px;
}

.escolhas {
    position: relative;
    z-index: 10;
    width: 510px;
    height: auto;
    margin: -20px auto 70px; 
    background-color: rgba(224, 255, 255, .2);
    padding: 10px 0;    
    .centraliza;
}
.escolhas {
    .vitorias, .empates, .derrotas {
        h6 {
            margin: 5px auto;
            font-weight: 300;    
        }
    }
}
#papel, #pedra, #tesoura {  
    float: left;
    text-align: center;
    margin: 0 15px;
    width: 120px;
    height: 120px;
    font-weight: bolder;
    cursor: pointer;
    .centraliza;
}
.crack, .lsd, .heroina {
    h6{
        margin: 130px 0 4px;
    }
}
#papel:hover, #pedra:hover, #tesoura:hover { 
    outline: .3px dotted lightcoral;    
 }
#pedra {    
    background:url('../img/crack.png');    
}
#papel {
    background:url('../img/lsd.png');
}
#tesoura {
    background:url('../img/heroina.png');
}
#mensagem {
    margin-top: 60px;
}
.vitoria {
    color: green;
    border: 1px green solid;
}
.empate {
    border: 1px blue solid;
    color: blue;
}
.derrota {
    border: 1px red solid;
    color: @shinyred;
}
#vitorias, #derrotas, #empates {
    float: left;
    width: 33%;
}

// RESPONSIVO
@media screen and (max-width: 520px) {
    header {
        height: 120px;
        h1 {
            font-size: 50px;
        }
        h5 {
            margin: 10px auto 30px;
        }
    }
    .placar {
        .pontos {
            width: 100px;
            top:-20px;
            #usr-pontos, #pc-pontos {
                font-size: 40px;
            }
        }
        .perfil {
            margin: -25px 55px 0;
            .avatar {
                &#avatarPC, &#avatarUsr {
                    width: 80px;
                    height: 80px;
                    background-size: 80px 80px;
                }
            }
            #usuario, #pc {
                &.badge {
                    font-size: 12px;
                    width: 90px;
                }
            }
        }
    }
    .resultado {
        width: 300px;
        font-size: 15px;
    }
    .escolhas {
        width: 300px;
        #papel, #pedra, #tesoura {  
            margin: 0 5px;
            width: 80px;
            height: 80px;
            background-size: 80px 80px;
        }
        .crack, .lsd, .heroina {
            h6{
                margin: 100px 0 4px;
            }
            .vitorias, .empates, .derrotas {
                h6 {
                    margin: 2px 0;
                }
            }
        }
    }
    #placarEmpates {
        h6 {

            margin-top:0px ;
        }
    }
}